.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.wellcomeMessage {
  font-size: 6vw;
  margin-bottom: 10px;

}

@media (max-width: 390px) {
  .wellcomeMessage {
    font-size: 10vw;
  }
}